*{
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

:root{
  --padding-default: 1rem 0;
  --button-padding: .7rem 2rem;
  --primary-color: #612674;
}
.header{
  max-width: 70rem;
  margin: auto;
}

.nav{
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.nav .list-item{
  list-style-type: none;
  padding: 0;
}


.nav a{
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.nav a:hover{
  background-color: #61446b;
}

.cards{
  background-color: rgb(218, 218, 218);
  text-align: center;
  padding: 2rem 1rem ;
  
}

.card .title{
  color: var(--primary-color);
}

.card .main_content{
  padding: var(--padding-default);
  margin: 1rem 0;
}

.card .button{
  text-decoration: none;
  color: #FFF;
  padding: var(--button-padding);
  background-color: #61446b;
  border-radius: .5rem;
}


@media screen and (width >= 30.75rem) {
 .nav{
    text-align: center;
 }
 .nav .list{
  width: 100vw;
  padding: 0;
 }
}

@media screen and (width >= 45rem) {
  .nav{
    width: 100vw;
  }
  .nav .list-item{
    font-size: 1.4rem;
  }
}

@media screen and (width >= 64rem) {
  .header{
    display: flex;
    padding: var(--padding-default);
  }
  .nav{
    background-color: transparent;
  }
  .nav .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: 100%;
    
  }
  .nav .list-item{
    padding: 0;
  }
  .nav .list-item a{
    padding: 1rem 2rem;
    color: var(--primary-color);
  }
  .nav .list-item a:hover{
    background-color: color-mix(in srgb, var(--primary-color), #FFF 85%);
  }
}