*{
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

:root{
  --padding-default: 1rem 0;
  --content-padding: 0 2rem;
  --margin-bottom: 1rem;
  --button-padding: .7rem 2rem;
  --primary-color: #612674;
}

h1,h2,h3,h4{
  color: #612674;
}

.header{
  max-width: 70rem;
  margin: auto;
}

.nav{
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.nav .list-item{
  list-style-type: none;
  padding: 0;
}


.nav a{
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.nav a:hover{
  background-color: #61446b;
}

.cards{
  background-color: #F6F6F6;
  text-align: center;
}

.card{
  padding: 2rem;
}

.card img, h2{
  margin-bottom: var(--margin-bottom);
}


.card .title{
  color: var(--primary-color);
}

.card .main_content{
  padding: var(--padding-default);
  margin: 1rem 0;
}

.card .button{
  text-decoration: none;
  color: #FFF;
  padding: var(--button-padding);
  background-color: #58C4C4;
  border-radius: .5rem;
}

.option{
  background-color: #FFF;
}

.option img{
  width: 100%;
}

.option .card h3{
  text-align: left;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
}

.find{
  padding: 2rem;
}


footer{
  background-color: #25303E;
  color: #5C899F;
  padding: 3rem 0;
  text-align: center;
}

footer > p{
  padding-bottom: 1rem
}



@media screen and (width >= 30.75rem) {
 .nav{
    text-align: center;
 }
 .nav .list{
  width: 100vw;
  padding: 0;
 }
 .icon_play{
  display: none;
 }
}

@media screen and (width >= 45rem) {
  .header{
    display: flex;
  }
  .nav{
    width: 100vw;
    background-color: transparent;
  }
  .nav .list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding-right: 1rem;
  }
  .nav .list-item a{
    padding: 1rem 2rem;
    color: var(--primary-color);
  }
  .nav .list-item a:hover{
    background-color: color-mix(in srgb, var(--primary-color), #FFF 85%);
  }
  .icon_play{
    display: inline-block;
    margin-bottom: 1rem;
  }
  .icon_play img{
    width: 40%;
  }
  .find{
    background-color: #612674;
    width: 100%;
  }
  .card .title, .main_content{
    color: #FFF;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
  }
  .options .card{
    width: 25rem;
  }
  .option .card{
    display: flex;
    flex-direction: row;
  }
  .option img{
    width: 7rem;
  }
 
}

@media screen and (width >= 64rem) {
  .header{
    display: flex;
    padding: var(--padding-default);
  }
  .nav{
    background-color: transparent;
  }
  .nav .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: 100%;
    
  }
  .nav .list-item{
    padding: 0;
  }
  .nav .list-item a{
    padding: 1rem 2rem;
    color: var(--primary-color);
  }
  .nav .list-item a:hover{
    background-color: color-mix(in srgb, var(--primary-color), #FFF 85%);
  }
}