body{
  width: 70%;
  display: inline-block;
  margin-left: 15%;
  background-color: #dddddd;
  font-family: sans-serif;
}

/* class name estilization*/
h1{
  background-color: #aa96e4;
  text-align: center;
  padding: 0.5rem;
}
h2{
  background-color: #bababa ;
  padding: 0.5rem ;
  border-bottom: 2px solid #4b3982;
}
h1, h2 {
  color: #40316f;
}
.name p{
  text-align: center;
  margin-top: 0.5rem;
}

/* navigation */
.social{
  display: flex;
  justify-content: flex-end;
}
.social a{
  background-color: aliceblue;
  padding: 0.5rem 0.8rem;
  margin-left: 0.5rem;
  border-style: none;
}
.social a:hover{
  background-color: #c5c5c5 ;
  color: #383838;
  transition: 1.5s;
}

/* links */ 
a{
  text-decoration: none;
  color: #0000ff;
}

/* margin of sections*/

.objective, .experience, .graduate, .courses{
  margin-top: 3rem;
}