*{
  margin: 0;
  padding: 0;
}
:root{
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text: #2a2a2a;
  --color: #fed001;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text);
  padding: 1rem;
}
.logo, ul{
  margin-left: 6rem; 
  margin-right: 6rem;
}
.list{
  list-style: none;
  border: 1px solid var(--color);
  display: inline-block;
  padding: .5rem;
  margin-left: .5rem;
}
.list-item{
  color: var(--color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font);
}
.title{
  background-image: url(/project7/img/HeroImage.png);
  height: calc(100vh);
  background-repeat: no-repeat;
  background-position: right;
  background-color:  rgba(254, 208, 1, 0.667) ;
  font-family: var(--font);
  color: #2A2A2A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}
.title h1{
  font-size: 4rem;
  width: 32rem;
  color: var(--text);
}
.title a{
  text-decoration: none;
  color: var(--text);
  padding: 1rem;
  background-color: var(--color);
  width: max-content;
  margin-top: 1rem;
}