body{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: antiquewhite;
}

.header{
  background-color: rgb(122, 106, 136);
  padding: 2rem 1rem;
}

.header h1{
  padding: 0;
  margin-top: 0;
}

form input{
  outline: none;
  padding: .3rem ;
  border: none;
}

form .btn{
  padding: .3rem 1rem;
  background-color: rgb(244, 186, 129);
  border: none;
  cursor: pointer;
}

#list{
  padding: 0 1rem;
}

#list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 .5rem;
  gap: .5rem;
  background-color: white;
}

#teste{
  background-color: rgb(234, 230, 230);
  width: 100%;
  padding: .2rem .5rem;
}
