*{
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 2rem;
}


.header .image {
  text-align: initial;
  display: flex;
  align-items: center;
}

.menu_list{
  display: flex;
}

.menu_list_item{
  margin-left: 2rem;
}

.menu_list_item a{
  padding: 1rem;
}


main{
  padding: 2rem 1rem;
}

a.contact{
  font-size: 1.2rem;
  padding: .8rem 1.5rem;
  border-radius: .3rem;
  border: none;
  color: #FFF;
  background-color: rgb(164, 164, 247);
  display: inline-block;
}

.companies{
  margin-bottom: 8rem;
}

.companies_image{
  background-color: #F6F6F6;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  border-radius: .3rem;
}

.companies_image img{
  width: 20%;
  gap: 1rem;
}

footer{
  background-color: #efeeee;
  padding: 2rem 1rem;
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .social_media h3{
  text-transform: uppercase;
  margin: 0;
}

.company h3{
  margin: 0;
  padding: 0;
}

.company .company_list{
  padding-left: 0;
}

.company .company_list_item a{
  color: #000;
}

.media_icons{
  width: 100%;
}

.media_icons i{
  margin: 0 .5rem;
  font-size: 2rem;
}


/* phone and tablet device */
@media screen and (width <= 46.1875rem) {
  
  .navigation{
  display: none;
  }
  .navigation .menu_list{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-left: 0;
    width: 100%;
  }
  
  .navigation .menu_list_item{
    width: 100%;
  }
  
  .navigation .menu_list .menu_list_item a{
    padding: 1.5rem 0;
    width: 100%;
    display: block;
    display: flex;
    justify-content: end;
  }
  body{
    text-align: center;
  }
  .header_section{
    margin: 7rem 0;
  }
  .header_content h1{
    font-size: 2.5rem;
  }
  .header_content p{
    font-size: 1.1rem;
  }
 
  .system h2,
  .results h2,
  .clients_title{
    font-size: 2rem;
  }
  .system a,
  .results a{
    display: inline-block;
    margin: 1rem 0;
  }
  .system .system_content,
  .results .results_content{
    font-size: 1.1rem;
  }
  .system_image img, 
  .results_image img{
    width: 100%;
  }
  .business{
    margin-bottom: 7rem;
  }

  .client_cards{
    margin-bottom: 3.5rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #efeeee;
  }
  .client_image img{
    width: 35%;
  }
  .part{
    background-color: #efeeee;
    border-radius: .5rem;
    margin: 6.5rem 0;
    padding: 4rem 1rem;
  }
  .contact_title{
    font-size: 2rem;
    margin-top: 0;
  }
  .contact_content{
    font-size: 1.2rem;
  }
  .contact_image{
    display: none;
  }
}

/* medium screens */
@media screen and (width >= 46.25rem) {
  .header_content h1{
    font-size: 3.5rem;
  }
  .header_image{
    display: flex;
    justify-content: center;
  }
  .header_image img{
    width: 45%;
  }
  .companies p{
    text-align: center;
  }
  .system, .results{
    display: flex;
    margin-bottom: 6rem;
  }
  .system{
    flex-direction: row-reverse;
  }

  .business .system h2,
  .results h2,
  .clients_title,
  .contact_title{
    font-size: 3rem;
  }

  .system_image img, 
  .results_image img,
  .system_image,
  .results_image{
    width: 50%;
    width: 100%;
  }
  .client_cards,
  .part,
  footer{
    background-color: #efeeee;
    padding: 2rem 1rem;
  }
  .client_image img{
    width: 8rem;
  }
  .client_cards{
    display: flex;
    padding: 1rem 1rem;
    margin: 2.5rem 0;
    gap: 1rem;
  }
  .contact_image{
    text-align: center;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
}

/* large screens */
@media screen and (width >= 70.43rem) {
  
  .header, main, .background{
    max-width: 67rem;
    margin: auto;
  }
 
  .header_image img{
    width: 45%;
  }

  .background{
    width: 100%;
    padding: 2rem;
  }
}

/* extra-large screens */
@media screen and (width >= 90rem){
  .header_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .content_wrapper{
    width: 50%;
  }
  .header_image img{
    width: 100%;
  }
  .clients{
    display: flex;
    flex-direction: column;
  }
  .client_cards{
    display: flex;
    flex-direction: column;
  }
  .part .contact_card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .contact_container{
    width: 40%;
  }
  .contact_title{
    margin-top: 0;
  }
}