body{
  background-color: #2f2f2f;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}
fieldset{
  background-color: #1c1c1c;
  border: none;
}
legend{
  text-align: center;
  padding-top: 4rem;
  color: #cccccc;
}
label{
  color: #f0f8ff;
}
input{
  background-color: #131313;
  width: 100%;
  color: #2a2a2a;
  margin-bottom: 1rem;
  border: none;
  padding: 5px;
  padding-right: 0;
  border-bottom: 3px solid #4c4c4c;
  color: white;
}
input:invalid,textarea:invalid{
  border-bottom: 2px solid red;
}
input:focus, textarea:focus{
  background-color: #2a2727;
  border-bottom: 2px solid #8e999a;
}
textarea{
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #151515;
  border: none;
  border-bottom: 3px solid #4c4c4c;
}
#submit{
  color: #cccccc;
  background-color: #313131;
  border: none;
  width: 20%;
  cursor: pointer;
}
